/* MAIN CSS - PORTIFOLIO */

* {
    border: none;

    margin: 0;
    padding: 0;
    text-decoration: none;
}

html {
    font-family: "NiveauGrotesk",sans-serif;
    font-size: 62.5%;
    font-style: normal;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}

/*****************************************************************************
NAVIGATION MENU
******************************************************************************/

#mainNav {
    background: #272727 none repeat scroll 0 0;
    border-top: 2px solid #4478cc;
    height: 50px;
    position: fixed;
    width: 100%;
}

#mainNavButtons {
     align-items: center;
     display: flex;
     height: 100%;
     justify-content: center;
     margin: 0 auto;
}

.mainNavButton {
    display: inline-block;
    list-style: outside none none;
}

.mainNavButton a {
    display: block;
    padding: 15px 2rem;
}

.mainNavButton:hover a p {
    color: #5596FF;
    transition: color 0.3s;
}

.mainNavButton a p {
    color: #eee;
    font-size: 1.6rem;
    transition: color 0.3s;
}

/* NAV BUTTON SLIDER */

#mediaNavButtonSlider {
    background-color: #f00;
    display: block;
    height: 30px;
    width: 30px;
}


