/* MAIN CSS - PORTIFOLIO */
/*****************************************************************************
PRE LOADER
******************************************************************************/
.preLoader
{
    background: #fff;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.mainCircle
{
    height: 150px;
    margin: 0 auto;
    position: relative;
    top: 35%;
    width: 150px;
}

.circle
{
    border: 3px solid #000;
    border-radius: 50%;
    height: 41%;
    position: absolute;
    transition: all 0.3s ease 0s;
    width: 41%;
}

.circleOne
{

    left: 50%;
    top: 0;
    transform: translate(-50%);

}

.circleTwo
{

    right: 0;
    top: 50%;
    transform: translate(0px, -50%);
}

.circleThree
{

    left: 50%;
    bottom: 0;
    transform: translate(-50%);

}

.circleFour
{
    left: 0;
    top: 50%;
    transform: translate(0px, -50%);

}

.loadingText
{
    bottom: 25px;
    left: 50%;
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 100%;
}

.loadingText p
{
    color: #000;
    font-size: 3rem;
}
/*****************************************************************************
GENERAL
******************************************************************************/
* {
    border: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html {
    font-family: "NiveauGrotesk",sans-serif;
    font-size: 62.5%;
    font-style: normal;
}

body {
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}

section {
    /*height: 100%;*/
}

.visible {
    opacity: 1;
    transition: all 1.5s;
}

section article {
    margin: 0 auto;
    max-width: 1220px;
}

article header {
    padding: 75px 0 30px;
    text-align: center;
}

article header h2 {
    color: #000;
    font-size: 3.5rem;
    font-weight: normal;
    text-transform: uppercase;
}

article header p {
    color: #555;
    font-size: 2rem;
    font-weight: normal;
    padding-top: 20px;
}

#portifolio {
    background: url(../images/portifolio/Landscape1.jpg) no-repeat top center fixed;
    background-size: cover;
}

/*****************************************************************************
SCROLL BAR SETTINGS
******************************************************************************/
/*::-webkit-scrollbar              { *//* 1 *//* }
::-webkit-scrollbar-button       { *//* 2 *//* }
::-webkit-scrollbar-track        { *//* 3 *//* }
::-webkit-scrollbar-track-piece  { *//* 4 *//* }
::-webkit-scrollbar-thumb        { *//* 5 *//* }
::-webkit-scrollbar-corner       { *//* 6 *//* }
::-webkit-resizer                { *//* 7 *//* }*/

/*scrollbar-base-color: #C0C0C0;
scrollbar-base-color: #C0C0C0;
scrollbar-3dlight-color: #C0C0C0;
scrollbar-highlight-color: #C0C0C0;
scrollbar-track-color: #EBEBEB;
scrollbar-arrow-color: black;
scrollbar-shadow-color: #C0C0C0;
scrollbar-dark-shadow-color: #C0C0C0;*/
/*****************************************************************************
NAVIGATION MENU
******************************************************************************/

#mainNav {
    background: #272727 none repeat scroll 0 0;
    border-top: 2px solid #4478cc;
    height: 50px;
    position: fixed;
    top: 0;
    transition: height 0.3s;
    width: 100%;
    z-index: 1;
}

#mainNavButtons {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    transition: height 0.3s;
}

#mainNavButtons ul {
    margin: 0 auto;
}

.mainNavButton {
    display: inline-block;
    list-style: outside none none;
}

.mainNavButton a {
    display: block;
    padding: 15px 2rem;
}

.mainNavButton:hover a p {
    color: #5596FF;
    transition: color 0.3s;
}

.mainNavButton a p {
    color: #eee;
    font-size: 1.6rem;
    transition: color 0.3s;
}

/* NAV BUTTON SLIDER */
#mediaNavButtonSlider {
    display: none;
}


/*****************************************************************************
COVER
******************************************************************************/
main {
    width: 100%;
}

#cover {
    opacity: 1;
}

.overlay {
    align-items: center;
    background: rgba(85, 150, 255, 0.7) none repeat scroll 0 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 59%, rgba(0, 0, 0, 0.1) 100%);
    display: flex;
    height: 100%;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.logo {
    animation: 2s linear 0s normal none infinite running floating example;
    padding-top: 5%;
}

.logo p {
    color: #fff;
    font-size: 6rem;
}

.overlay article {
    width: 50%;
}

.overlay article header h1 {
    color: #fff;
    font-size: 3rem;
    font-weight: normal;
    padding-bottom: 10%;
    padding-top: 10%;
}

.overlay article header h2 {
    color: #fff;
    font-size: 3rem;
    font-weight: normal;
}

.button {
    margin: 0 auto;
    position: relative;
    width: 170px;
}

.button button {
    transition: all 0.2s;
}

.button:hover button {
    border: 0px solid #fff;
    font-size: 3rem;
    transition: border 0.2s, font-size 0.4s;
}

.button button {
    background: transparent none repeat scroll 0 0;
    border: 2px solid #fff;
    color: #fff;
    cursor: pointer;
    font-size: 2rem;
    height: 50px;
    width: 170px;
}

.arrow {
    align-items: center;
    bottom: 0;
    display: flex;
    flex-direction: column;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 50%);
}

.button:hover .arrow {
    bottom: -20px;
    transition: all 0.3s;
}

.button:hover .square {
    background: #fff;
    height: 15px;
    transition: all 0.3s;
    width: 15px;
}

.button:hover .triangle {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 16px solid #fff;
}

/*****************************************************************************
EXPERTISE
******************************************************************************/

#expertise {
    background: #f2f2f2;
    padding-bottom: 50px;
}

.boxItems {
    display: flex;
    justify-content: space-around;
    overflow: hidden;
}

.item {
    padding: 15px;
    text-align: center;
    opacity: 0;
    margin-top: 20px;
    width: 30%;
}

.item:first-child h3 {
    color: #e54d26;
}

.item:nth-child(2) h3 {
    color: #016fba;
}

.item:nth-child(3) h3 {
    color: #c94340;
}

.item h3 {
    border-bottom: 2px solid #ccc;
    font-size: 3rem;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.item p {
    font-size: 1.6rem;
    padding: 20px 0 10px;
    text-align: justify;
}

.item p:last-child {
    color: #888;
    font-size: 1.4rem;
    padding: 0;
}

/*Effects*/
.visibleEffects .item:first-child{
    margin: 0;
    opacity: 1;
    transition: all 0.6s;
}

.visibleEffects .item:nth-child(2){
    margin: 0;
    opacity: 1;
    transition: all 0.6s ease-in 0.6s;
}

.visibleEffects .item:nth-child(3){
    margin: 0;
    opacity: 1;
    transition: all 0.6s ease-out 1.2s;
}

/*****************************************************************************
PROJECTS
******************************************************************************/

#projects {
    background: #fff;
    padding-bottom: 20px;
}

#containerProjects {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.projectItem {
    cursor: pointer;
    margin-top: -15px;
    opacity: 0;
    padding-bottom: 30px;
    width: 30%;
}

.imgProjectItem
{
    align-items: center;
    display: flex;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.projectItem img {
    filter: grayscale(0%);
    height: auto;
    transform: scale(1);
    transition: all 1.5s;
    width: 100%;
}

.overlayProjectItem {
    align-items: center;
    background: rgba(85, 150, 255, 0.7) none repeat scroll 0 0;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.6s ease 0s;
    width: 100%;
}

.overlayProjectItem p {
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 1px 1px 1px #333;
    transition: font-size 0.4s;
}

.projectItem h3 {
    font-size: 2rem;
    padding-top: 5px;
}

.projectItem p {
    font-size: 1.5rem;
}

/*Item Project Hover*/
.projectItem:hover img {
    filter: grayscale(100%);
    transform: scale(1.1);
}

.projectItem:hover .overlayProjectItem {
    opacity: 1;
}

.projectItem:hover .overlayProjectItem p {
    font-size: 2.5vw;
}

/*div used to fill the project item*/
.projectItemFill {
    width: 30%;
}

/*Effects*/
.projectItem.visibleEffects {
    margin: 0;
    opacity: 1;
    transition: 0.5s;
}

.projectItem.visibleEffects:nth-child(3n+1) {

}

.projectItem.visibleEffects:nth-child(3n+2) {
    transition: all 0.5s linear 0.5s;
}

.projectItem.visibleEffects:nth-child(3n+3) {
    transition: all 0.5s linear 1s;
}

/*****************************************************************************
ABOUT ME
******************************************************************************/

#aboutMe {
    background: rgba(0,0,0,0.95);
}

#aboutMe header h2{
    color: #fff;
}

#aboutMe header p {
    color: #666;
}

/*****************************************************************************
ABOUT ME
******************************************************************************/

#contact {
    background: #fff;
}

