/* MEDIA CSS - PORTIFOLIO */


@media screen and (max-width: 768px){

    /*****************************************************************************
    GENERAL
    ******************************************************************************/
    section {
        height: auto;
    }

    /*****************************************************************************
    NAVIGATION MENU
    ******************************************************************************/
    #mainNav.openMainNav {
        height: 100%;
        opacity: 1;
        transition: height 0.3s;
    }

    #mainNav.openMainNav #mainNavButtons {
        align-items: flex-start;
        height: 100%;
        padding-top: 50px;
        transition: height 0.3s;
    }

    #mainNav
    {
        height: 0;
    }

    #mainNavButtons {
        height: 0;
        overflow: hidden;
    }

    #mainNavButtons ul {
        text-align: center;
        width: 100%;
    }

    .mainNavButton {
        border-bottom: 1px solid #222;
        width: 100%;
    }

    #mediaNavButtonSlider {
        background: #4478cc url("../images/portifolio/slider_button.png") no-repeat scroll center center;
        border-radius: 0 0 3px 3px;
        cursor: pointer;
        display: block;
        height: 45px;
        position: absolute;
        right: 5%;
        top: 0;
        width: 50px;
    }

    /*****************************************************************************
    COVER
    ******************************************************************************/
    #cover article header {
        padding: 0;
    }

    .overlay article {
        width: 90%;
    }

    /*****************************************************************************
    EXPERTISE
    ******************************************************************************/
    .boxItems {
        flex-wrap: wrap;
    }

    .item {
        width: 100%;
    }

    /*****************************************************************************
    PROJECTS
    ******************************************************************************/
    #containerProjects {
        justify-content: flex-start;
    }

    .projectItem {
        box-sizing: border-box;
        cursor: pointer;
        padding-left: 3%;
        padding-right: 3%;
        width: 50%;
    }

    .projectItem:hover .overlayProjectItem p {
        font-size: 2.5rem;
    }

    .projectItem h3 {
        font-size: 3vw;
    }

}

@media screen and (max-width: 441px){
    #containerProjects {
        justify-content: space-around;
    }

    .projectItem {
        width: 90%;
    }

    .projectItem h3 {
        font-size: 2.2rem;
    }


}